html {
    background: #f7f7f7;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background:#f7f7f7;
    padding: 0;
    margin: 0 auto;
  max-width:70rem
}
sub, a {
    display: inline-block;
    margin: 2% auto;
    color: #58566f;
    font-family: system-ui;
    text-decoration: none;
}

.IroSliderGradient {
    border-radius: 12px !important;
}


h1 {
    font-family: system-ui;
    text-align: center;
    margin: 50px auto 30px;
    color: #000;
}

.flex {
  display:flex;
  flex-direction: column;
  gap:24px
}

input#hexInput {
    width: 186px;
}
#harmonyType, select, input {
    padding: 12px;
    border: none;
    background: #fff;
    border-radius: 12px;
    width: 210px;
    margin: 0 auto;
}

.colorIndicator {
            position: absolute;
            border: 2px solid #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            transform: translate(-50%, -50%);
            z-index: 10;

        }
#colorWheelContainer {
    position: relative;
    width: 200px;
    height: 240px;
    margin: 0 auto;
}
#harmonyColors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  display:none;
}
        #harmonyColors div {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 5px;
          border-radius:900px;
        }

.colorIndicator {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.selectColores {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  width: auto
}

.coloresWheel {
    display: flex;
    flex-direction: row;
    width: auto;
    flex-wrap: wrap;
    font-family: system-ui;
    justify-content: center;
    gap: 40px;
    align-content: flex-start;
}



#colorCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Esto permitirá que las tarjetas se ajusten en varias filas si hay demasiadas */
  justify-content: flex-start; /* Alinea las tarjetas al principio del contenedor */
  gap: 10px; /* Espacio entre las tarjetas */
}

.colorCard {
    padding: 0 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
    justify-content: space-between;
    height: max-content;
    gap: 20px;
}

.colorCard > div {
  border-radius:50%
}

.gradientCard p {
    font-size: 12px; /* Ajusta el tamaño del texto dentro de las tarjetas de gradiente */
    margin: 2px 0;   /* Reduce el margen entre los párrafos */
}

.gradientCard {
    height: 80px; /* Opcional: puedes ajustar la altura si es necesario */
    width: 80px;   /* Opcional: ajustar el ancho de las tarjetas */
  padding: 10px;
    gap: 0;
}


/* Estilos generales para la paleta */
#paletteContainer h4 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
  display:none
}

/* Estilos para las tarjetas pequeñas */
.gradientCard {
    width: 80px;
    height: 100px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333; /* Default text color, will be overridden based on luminance */
}

.gradientCard div {
    margin: 2px 0;
    text-align: center;
}

/* Resaltar el color coincidente */
.gradientCard.highlight {
    border: 3px solid #000000;
}


@media only screen and (max-width: 768px) {
    body {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: 100vh;
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    
    .colorCard {
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, .1);
        justify-content: center;
        height: 400px;
        width: 80%;
    }
    
    #colorCards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }
  
  .gradientCard {
        width: 60px;
        height: 80px;
        font-size: 10px;
    }
}
